h1{
    color:green
}

/* id selector*/
#main{
    color:gray
}

/* class selector*/
.red.text{
    color:red
}

/* attribute selector(sellect element has particular attribute)*/
p[draggable]{
    color:pink
}

/* universal selector, select all*/
*{
    color:gray
}